CompileFlags:
    Add:
        - "-xc"
        - "-std=c99"
        - "-pedantic"
        - "-Wno-empty-translation-unit"
        - "-Wall"
        - "-Wextra"
        - "-Wshadow"
        - "-Wstrict-overflow=5"
        - "-Wcast-align"
        - "-Wconversion"
        - "-Wformat=2"
        - "-Wuninitialized"
        - "-Wnull-dereference"
        - "-Wdouble-promotion"
        - "-Wstack-protector"
